:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color-scheme: light;

    --outline: blue;

    --tooltip-back: #333;
    --tooltip-text: white;
    --tooltip-lore: lightgrey;

    --border: black;

    --link-color: #1e40af;
    --link-hover: #2563eb;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --outline: lightblue;

        --tooltip-back: #141414;
        --tooltip-text: white;
        --tooltip-lore: lightgrey;

        --border: white;

        --link-color: #60a5fa;
        --link-hover: #93c5fd;
    }
}

.bordered {
    border: 1px solid color-mix(in srgb, transparent 80%, var(--border));
    border-radius: 5px;
}

.bordered:hover {
    border: 1px solid color-mix(in srgb, transparent 65%, var(--border));
}

img {
    image-rendering: pixelated;
}

* {
    margin-left: var(--margin-lr);
    margin-right: var(--margin-lr);
    margin-top: var(--margin-tb);
    margin-bottom: var(--margin-tb);
}

a,
a:link,
a:visited {
    all: unset;
    text-decoration: underline;
    color: var(--link-color);
    cursor: pointer;
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--link-hover);
}

select {
    width: 100%;
}

.bar {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    gap: 10px;
}

.bar>.static {
    flex-grow: 0;
    flex-shrink: 0;
}

.bar>.fill {
    flex-grow: 1;
    flex-shrink: 1;
}

progress {
    background-color: inherit;
    border: 1px solid var(--border);
    border-radius: 5px;
}


/* Accessibilty */
a:focus-visible {
    outline: 2px solid var(--outline);
    outline-offset: 2px;
    text-decoration: none;
}

button.highlight {
    outline: 1px solid yellow;
}